@import url("reset.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    font-family: "Roboto", sans-serif;
    background-color: black;
    margin-right: 40px;
    margin-left: 45px;
}

.header{
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 0 24px;
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 1);

}

.menu-left{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 146px;
    height: 24px;
}

.video-sino{
    width: 24px;
    height: 24px;
}

.avatar{

    width: 34PX;
    height: 34px;
    border-radius: 50%;
}

#imgYouTube {
    width: 90px;
    height: 20px;
}

.search-bar{
    width: 348px;
    height: 40px;
    border: 1px solid rgba(204, 204, 204, 1);
}

.search{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 57px;
    height: 40px;
    background-color: rgba(248, 248, 248, 1);
    border: 1px solid rgba(204, 204, 204, 1);
    
}

.menu-center{
    display: flex;
    align-items: center;
}

.menu-right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 130px;
    height: 34px;
}

.sidebar-contents{
    padding: 20px;
 
}

#video-tittle{
    font-size: 14px;
    font-weight: 600;
}

.video img{
    padding-bottom: 10px;
    width: 100%;
}

.you-tube-container{
    display: grid;
    grid-template-columns: 0.9fr 5fr;
    background-color: white;
    
}

.conteudo{
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: #F9F9F9;
}

.infos{
    align-items: center;
    display:flex;
    line-height: 16px;
}

.infos h6{
    padding-left: 10px;
}

p{
    width: 150px;
    font-size: 12px;
    padding: 10px;
    margin: 0 auto;
}

.menu-item{
    display: flex;
    align-items: center;
    font-weight: 400;
    margin-bottom: 10px;
}

.menu-item img{
    object-fit: cover;
}

.menu-item p{
    font-size: 15px;
}

.menu-lateral{
    padding-top: 30px;
    padding-left: 30px;
}

